* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #00152c
	/* color: #fff; */
}

input, select, img, button, textarea {
	width: 100%;
	font-family: Inter;
}

textarea {
	min-width: 100%;
	max-width: 100%;
}

img {
	-webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6, .zero {
	margin: 0;
}

.center {
	text-align: center;
}

.med {
	font-weight: 700;
}

.semi {
	font-weight: 600;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.noselect, button, img, br {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-moz-selection {
	color: #222;
	background: #2690ec3f;
}

::selection {
	color: #222;
	background: #2690ec3f;
}

.right {
	text-align: right;
}

a {
	text-decoration: none;
	color: #007fef;
	transition: 0.3s;
}

a:hover {
	color: #00d6da;
}

button {
	color: #fff;
	background-color: #007fef;
	border: none;
}

button:hover {
	background-color: #41a0f3;
	color: #fff;
	border: none;
}

button:focus, button:active {
	color: #fff;
}

button:disabled {
	background-color: #41a0f3;
	cursor:default;
}